/*------------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

/*------------------
GENERAL
------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}


/*------------------
HEADER
------------------*/
header > div {
    justify-content: space-between;
}

header img {
    margin: 20px 20px 20px 0;
}

header ul {
    flex-wrap: wrap;
    gap: 25px;
    height: 100%;
}

header li {
    height: 100%;
    align-content: center;
    position: relative;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.selected a {
    color: #0282f9;
}

.selected div {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: #0282f9;
}


/*------------------
    MAIN
------------------*/
main {
    background-color: black;
    color: white;
}

main h2 {
    padding: 60px 0;
}


/*------------------
    SECONDARY NAVBAR
------------------*/
#secondaryNav {
    background-color: #0282f9;
    padding: 50px 0;
}

#secondaryNav ul {
    justify-content: center;
    align-content: space-around;
    gap: 40px;

}

#secondaryNav li div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#secondaryNav li:not(:last-child) div img {
    height: 60px;
}

#secondaryNav li:last-child div img {
    height: 35px;
    vertical-align: middle;
}

#secondaryNav a {
    text-decoration: none;
    text-transform: uppercase;
    align-content: center;
    color: white;
}

#secondaryNav img {
margin: 0 5px;
}


/*------------------
    FOOTER
------------------*/
footer {
    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 370px; */
    /* overflow: hidden; */
}

footer nav {
    padding: 45px 0;
    gap: 30px;
}

footer > .flex {
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

footer > div:first-child h4 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer h4:nth-of-type(2) {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #959595;
    font-size: 13px;
}

footer > div:last-child {
    background-color: #303030;
}

#logo-bg {
    height: 400px;
    width: 600px;
    background-image: url("/img/dc-logo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border: 2px solid #0282f9;
    padding: 10px;
    margin: 30px 0;
    color: white;
}

#social {
    justify-content: space-between;
    align-items: center;
}

#social h4 {
    color: #0282f9;
    margin-right: 10px;
}

#social .flex {
    align-items: center;
}

#social > .flex > a {
    width: 30px;
    aspect-ratio: 1/1;
    margin-left: 15px;
}

#social img {
    width: 100%;
    height: 100%;
}